body {
    font-family: 'Courier New', Courier, monospace;
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* grid-template: filas / columnas; */
    grid-gap: 10px;
    height: 100vh;
}
.item {
    background: darkgray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}
.item:nth-of-type(1) {
    background: greenyellow;
    grid-column-start: 1;
    grid-column-end: -1;
}
